* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

:root {
  --primary-color: #0290ff;
  --secondary-color: #ffffff;
}

.app {
  padding: 20px;
  text-align: center;
  background-color: #f5f6fa;
}

.nav-bar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--secondary-color);
  padding: 10px;
}

.navbar-left {
  display: flex;
}

.navbar-left div h2 {
  color: var(--primary-color);
  margin-left: 20px;
}

.nav-element {
  margin: 16px 13px 12px 13px;
  font-size: 13px;
  color: #121212;
}

.filter-box {
  margin: 16px 5px 0 0;
}

.icon {
  padding-top: 20px;
}

.book-row {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
  margin: 10px 0;
}

.book-row {
  height: 140px;
}

.book-column {
  background-color: whitesmoke;
}
